
.burger__icon {
    position: absolute;
    display: inline-flex;
    top: 10px;
    right: 15px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 15;
    fill: currentColor;

    &:active, &:focus, &:hover {
        color: $Logo-accent;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .svg__close {
        display: none;
    }
    // tablet
    @media screen and (min-width: 768px) {
       display: none;

}
}

.burger__icon.is-open .svg__menu {
    display: none;
}

.burger__icon.is-open .svg__close {
    display: block;
}

